@use "../../../variables";
@use "../../../../public/fonts/fonts";
@use "../../../app/scss/mixins.scss";

.login-form{
    display: flex;
    flex-direction: column;
    margin-inline: 2rem ;
    gap: .5rem;
    height: 90vh;
    align-items: center;
    justify-content: center;
      
    &__form{
        
        display: flex;
        flex-direction: column;
        gap: .5rem;
        
        &__headline{
            color: variables.$white;
            font-family: fonts.$font-Ubuntu;
            font-size: fonts.$font-size-xl;
            font-weight: 400;
        }
        &__input{
            padding: .8rem;
            border: none;
            background-color: variables.$white;
            color: variables.$gray;
            width: 80vw;
            
        }
        
        &__submit{
            @extend %standert-button;
            width: 70%;
            margin: 0 auto;
            
        }
    }

}

.login-loader{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}