@use "../../scss/mixins.scss";
@use "../../../../public/fonts/fonts";
@use "../../../variables";

.login{
    @extend %bg-img;
    position: relative;
}

.overlay{
    height: 100vh;
    width: 100vw;
    background-color: variables.$background-color-transparent;

    position: absolute;
    top: -4vh;
    transform: rotate(60deg);

    display: flex;
    justify-content: center;
    align-items: center;
}