@use "../variables";
@use "../../public/fonts/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  scroll-behavior: smooth;
  list-style: none;
  overflow-x: hidden;
}

img {
  display: block;
}

body{
  background-color: variables.$background-color;
  
}

a{
  text-decoration: none;
}

h2{
  color: variables.$white;
        font-family: fonts.$font-Ubuntu;
        font-size: fonts.$font-size-l;
        font-weight: 400;
        margin: 2rem 0 -1rem 2rem;
}