@use "../variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  scroll-behavior: smooth;
  list-style: none;
  overflow-x: hidden;
}

img {
  display: block;
}

body{
  background-color: variables.$background-color;
  
}